@import "../../common/colors.scss";

.loader-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .text {
    color: $font-secondary;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 400;
  }

  .fa-triangle-exclamation {
    height: 200px;
    color: $font-secondary;
    flex-grow: 1;
  }
}
