@import "../../common/colors.scss";

.movie-list {
  margin: 20px 0px;

  span {
    display: flex;
    align-items: center;
    // justify-content: center;

    h2 {
      color: $font-secondary;
      margin-bottom: 10px;
      font-weight: 400;
    }

    h4 {
      color: #909090;
      margin-left: 10px;
      margin-bottom: 10px;
      font-weight: 200;
    }
  }
}

// .movie-container {
//   // display: flex;
//   // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//   // grid-gap: 15px;
// }

.movie-error {
  justify-content: center;
  color: $font-secondary;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.not-found-icon {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  // min-height: 100vh;

  .fa-triangle-exclamation {
    color: $font-secondary;
    height: 150px;
    margin-top: 100px;
  }
}
